<!DOCTYPE html>
<html lang="en-US">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"> </script>
</head>

<body ng-app="mpgApp">
    <main ng-controller='mpgCtrl'>
        <p>Enter Miles : <input type="number" ng-model="miles" required></p>
        <p>Enter Gallons: <input type="number" ng-model="gallons" required></p>
        <p> <button ng-click="calcMPG()"> Click for MPG </button> </p>
        <p ng-bind="mpg"> </p>
    </main>
    <script>
        angular.module('mpgApp', []).controller('mpgCtrl', function ($scope) {
            $scope.calcMPG = function () {
                if ($scope.gallons == 0 || isNaN($scope.gallons)) {
                    $scope.mpg = "MPG = " + 0;
                }
                else {
                    $scope.mpg = "MPG = " + ($scope.miles / $scope.gallons).toFixed(1);
                }
            }
        });
    </script>
</body>

</html>